{% include 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="align-middle">
        <form action="/add_fund" class="form-inline align-items-center" method="POST">
            {% csrf_token %}
            <div class="form-group mx-sm-3 mb-2">
              <input name="money" type="number" class="form-control" placeholder="Add Fund">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Add</button>
          </form>
    </div>
</div>
    
{% endblock content %}